/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 .card-program {
  height: 200px;
 }

.banner_picture {
  margin-top: 70px;
  width: 100%;
}

.banner {
  color: white;
  text-align: center;
  height: 650px;
  margin-top: 70px;

  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 150px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 13px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.modal-search-questions {
  color: black;
}

.modal-header h4 {
 color: black;
}

#modal-button {
  cursor: pointer;
    display: inline-block;
    font-family: "Lexia W01 Bold1114982",serif;
    font-size: .75em;
    line-height: 1;
    padding: 1em 1.5625em .9375em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: .025em;
}

.search-box {
  color: black;

}

.search-input-field {
  width: 400px;
}
