/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 .card-program {
  height: 250px;
}

.card-background {
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3 {
    // line-height: 175px - 22px - 11px;
    vertical-align: middle;
    flex: 0 0 20%;
  }
}
.card-search {
  // background-image: linear-gradient(rgba(38,39,38,0.3) 100%, rgba(38,39,38,0.18) 100%)!important;
  background-size: cover !important;
  color: #fff;
  opacity: 0.7;
  position: relative;
  background-color: #f8f8f8;
  // margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #e7e7e7;
  transition: box-shadow 800ms ease;
  &:hover{
    opacity: 1;
    // background-image: linear-gradient(rgba(0,0,0,0.0) 100%, rgba(38,39,38,0.0) 100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  h3{
    font-size: 1em;
    letter-spacing:2px;
    color: #fff;
    transition: color 200ms ease;
    text-align:center;
    // margin-top:15%;
    // padding-top: 30px;
    // padding-bottom: 50px;

  }


  .card-search-link {
    &:hover {
      text-decoration: none;
    }
    &:hover h3 {
      text-decoration: none;
    }
  }
}

.card-footer{
  background-color: #f8f8f8;;
  display: -webkit-inline-box;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid;
  border-color: rgba(119, 119, 119, 0.3);
}
.toggle-map {
  //display:none;
  position: absolute;
  opacity: 0;
  left: -100%;
  transition: opacity 2s;
}

.toggle-map.display_map{
  opacity: 1;
  position:relative;
  left: 0;
  transition: opacity 2s;
}

.view-map{
  text-align: center;
  display: block;
  text-decoration: none;
  color: green;
  &:hover {
    color: #333;
    text-decoration: none;
  }
}

.line {
  height: 1px;
  background-color: #aba4a4;
  width: 40%;
  margin-top: 20px;
}

#map-button-container {
  width:100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-footer{
  width: 145px;
  margin-top: 10px;
  font-size: 10px;
  color: #1d1c1c;
  letter-spacing: 1.2px;
  &:hover {
    color: #1d1c1c;
    text-decoration: none;
    transition: opacity 2s;
  }
}

.verticalLine {
  border-left: 1px solid;
  border-color:rgba(119, 119, 119, 0.3);
}

.span-footer{
  font-size: 12px;
  // color: #3eab3e; hover color
  //  &:hover {
  //   color: #3eab3e;
  //   text-decoration: none;
  //   transition: opacity 2s;
  // }
}

.card-search .text-search{
  visibility: hidden;
  color: white;
  flex: 0 0 20%;
  margin: 10px;
  font-size: 12px;
}

.card-search:hover .text-search{
  visibility: visible;
  text-align: center;
}

