.btn-apply {
    color: #fff;
    background-color: green;
    border-color: green;
    width: 273px;
    height: 56px;
    border-radius: 4px;
    font-size: 19px;
}


.btn-apply:hover{
  opacity: 0.9;
  color: white;
}
.banner-ranking {

      margin-top: -41px;
    background-color: lightgray;
    width: 307px;
    margin-left: 15px;
    color: #565555;
    height: 568px;
    margin-bottom: 33px;
}

.banner-content-margin {
  margin-bottom: 70px;
}

.favourite-block {
  margin-top: 30px;
}

  .modal-apply{

    width: 700px;

    margin: 70px auto;
  }

.application-done {

}


.top-wrapper {
margin-top: 70px;
}

.programs-show {
  background-color: #f1f1f1;
  padding-top: 50px;
}
