.btn-apply {
    color: #fff;
    background-color: green;
    border-color: green;
    width: 273px;
    height: 56px;
    border-radius: 4px;
    font-size: 19px;
}

.banner-ranking {

      margin-top: -101px;
    background-color: lightgray;
    width: 307px;
    margin-left: 15px;
    color: #565555;
    height: 568px;
    margin-bottom: 33px;
}

.banner-content-margin {
  margin-bottom: 70px;
}

.favourite-block {
  margin-top: 30px;
}
