<%= link_to program_path(program), class: "card-link" do%>
  <div class="card m-button">
  <br>
  <h3 class="text-center letter-spacing" style="margin-top: 0px";><%= program.title  %></h3>
  <p class="text-center "><%= program.subject %></p>
  <p class="text-center"><%= $ program.tuition %></p>
  </div>
<% end %>
