
<div class="container" style="width: 100%; margin-top: 0px;">
  <div class="row">
    <div class="col-xs-12">
  <% programs.each do |program| %>


<div class="col-xs-4">
    <%= render 'card', program: program %>


</div>
  <% end %>
</div>



</div>
</div>
