<div class="favourite-card">
  <h4>
    Are you interested in this program?
  </h4>
  <ul>
    <% if current_user.favourite_programs.include?(program) %>
    <li>
      <p>
        Already favourited <i class="fa fa-heart"></i>
      </p>
    </li>
    <% else %>
    <li>
      <%= simple_form_for program, url: program_favourites_path(program), method: :post do |f| %>
      <%= f.submit "Favourite this" %> <span><i class="fa fa-heart"></i></span>
      <% end %>
    </li>
    <% end %>

    <% if current_user %>
    <li>
      <%= link_to " My Favourites", user_profile_path(current_user) %>
    </li>
    <% end %>
  </ul>
  <div data-href="http://www.yooni.life" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore facebook-button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fyooni.herokuapp.com%2F&amp;src=sdkpreparse">
  <i class="fa fa-facebook"></i>
    Share
  </a>
</div>

</div>


