<div class="favourite-card generic-info-card">
  <ul>
    <li>
      <%= @program.university.phone_number %>
    </li>
    <li>
      <%= @program.university.contact %>
    </li>
    <li>
      <strong> <%= link_to @program.university.website, @program.university.website %> </strong>
    </li>
  </ul>
</div>
