 <%= render "sidebar" %>

 <!-- Main Content -->
<div class="container-fluid">
  <div class="side-body">
   <div id="map" class="toggle-map" style="width: 100%; height: 300px; float: right; center"></div>

      <%= render "content_search", programs: @pippo %>





   <% content_for(:after_js) do %>
     <%= javascript_tag do %>
         $(document).ready(function() {
         var handler = Gmaps.build('Google');
         handler.buildMap({ internal: { id: 'map' } }, function() {
         markers = handler.addMarkers(<%= raw @hash.to_json %>);
         handler.bounds.extendWith(markers);
         handler.fitMapToBounds();
         handler.map.centerOn([52.000000, 4.000000]);
         if (markers.length == 0) {
         handler.getMap().setZoom(2);
       } else if (markers.length == 1) {
       handler.getMap().setZoom(14);
      }
      });
      });
      <% end %>
    <% end %>

</div>
</div>








