<div class="top-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <%= render partial: "favourite_card", locals: { program: @program } %>
        <%= render partial: "generic_info_card", locals: { program: @program } %>
      </div>
      <div class="col-xs-6">
        <%= render partial: "program_content", locals: { program: @program } %>
      </div>
      <div class="col-xs-3">
        <%= render partial: "apply_card", locals: { program: @program } %>
      </div>
    </div>
  </div>
</div>
