/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none;
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
